# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Google ADK
# -----------------------------
.adk/

# -----------------------------
# Generated Reports
# -----------------------------
reports/*.pdf
reports/*.docx
reports/*.txt

# -----------------------------
# Python Build
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# PyCharm
# -----------------------------
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Test Cache
# -----------------------------
.pytest_cache/
.mypy_cache/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/